
a.button {
    /* background-color: gray;  */
    /* border: black; */
    color: darkred;
    border: 3px solid darkred;
    background-color: grey;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
}

  a.button:hover {
    background-color: red;
    color: black;
  }

  a.button {
    -webkit-transition-duration: 0.s; /* Safari */
    transition-duration: 3s;
  }

  a.hrefs{
    /* border: 2px solid #4CAF50;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding: 5px 5px; */
    border: 5px solid black;
    background-color: gray; 
    /* border: black; */
    color: black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }
  a.hrefs:hover {
    background-color: gray;
    color: white;
  }

#entryLogin{
        position:relative;
        transition: .5s ease;
        top: 0px;
        left: 300px;
        right: -420px;
        bottom: -191px;
}

#entryRegister{
    position:relative;
    transition: .5s ease;
    top: -81px;
    left: 100px;
    right: -420px;
    bottom: -191px;
}


 #ulMenuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .menuBar {
    float: left;
  }
  
  .menuBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menuBar a:hover {
    background-color: #111;
  } 

  #helloUser :hover {
    background-color: wheat;
  }

  #helloUser{
    list-style-type: none;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray; 
  }

  /* #down0{
    position:relative;
    transition: .5s ease;
    width: 500px;
    left: 0px;
    right: -150px;
    bottom: -330px;   
  } */
  #down1{
    position:relative;
    transition: .5s ease;
    width: 500px;
    right: -600px;
    /* right: -150px; */
    bottom: -350px;   
  }
  #down2{
    position:relative;
    transition: .5s ease;
    width: 150px;
    /* left: 100px; */
    right: -400px;
    bottom: -175px;   
  }
  #down3{
    position:relative;
    transition: .5s ease;
    width: 150 px;
    height: 100px;
    /* left: 30%; */
    right: -80px;
    bottom: -10px;   
  }