
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

body {
    background-color: darksalmon;
    background-image: url("logoBeer7.jpg");
    background-repeat: no-repeat;
    background-size: 100% 80%; /* Resize the background image to cover the entire container */
    
    
  }