<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css.css" />
</head>
<body ng-app="myApp" background="/about/PicBeer7/backgroundcolor.jpg">
    <!-- load angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <script src="https://code.angularjs.org/1.7.8/angular-route.js"></script>
    <!-- load app -->
    <script src="app.js"></script>

    <!-- load controllers -->
    <!-- <script src="pages/about/aboutController.js"></script> -->
    <script src="/login/loginCtrl.js"></script>
    <script src="/explore/exploreCtrl.js"></script>
    <script src="/login/restorePasswordCtrl.js"></script>
    <script src="/login/insertUsernameCtrl.js"></script>
    <script src="/poi/singlePOIWindowCtrl.js"></script>
    <script src="poi/poiController.js"></script>
    <script src="poi/sortByRank.js"></script>
    <script src="logedIn/logedInCtrl.js"></script>
    <script src="poi/favoritesPOICtrl.js"></script>

    <div ng-init="currUser='guest'" ng-init="token='guest'">
        <ul id="helloUser">
            <li id="helloUser" style="font-size: 15px">hello {{currUser}}</li>
        </ul>
        <ul id="ulMenuBar">
            <li class="menuBar"><a href="#!home">Home</a></li>
            <li class="menuBar"><a href="#!about" >About</a></li>
            <li class="menuBar"><a href="#!poi" >Points of interest</a></li>
            <li class="menuBar"><a href="#!favoritesPOI" >Favorite points of interest</a></li>
        </ul>
    </div>

    <!-- <div id="entry">
        <div id="entryLogin">
            <h4>You can log in here</h4>
            <a href="#!login">login</a>
        </div>
        <div id="entryRegister">
            <h4>You can register here</h4>
            <br>
            <a href="#!register">register</a>
        </div>
    </div> -->

    <div id="MainDivView" ng-view></div>

    <div id="explore" ng-controller="exploreCtrl">
        <!-- use api and get 3 poi to show here -->
        <!-- <div id="down0" ng-repeat="poi in pois"> -->
            <ul id="ulExpBar" >
            <!-- <div id="down1" ng-show="$index===0"> -->
                <li ng-repeat="poi in pois" class="ExpBar">
                    <bottun ng-click="showSingle(poi)" style="color:white">{{poi.name}} <img ng-src="{{poi.poiImage}}" style="width: 160px; height: 160px;"></bottun>
                </li>
            </ul>
        <!-- </div> -->
    </div>

</body>
</html>