<!-- css -->
<!-- <style>
    img {
        height: 100px;
    }
</style>

<h2>POI</h2>

display all cities
<p ng-repeat="(id, city) in poiCtrl.cities">
    City Name: <span ng-bind="city.name"></span><br>
    City State: <span ng-bind="city.state"></span><br>
    <img ng-src="{{ city.image }}">
</p> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
        <link rel="stylesheet" type="text/css" href="css.css">
</head>
    <div>
        <!-- <div id="entryLogin">
            <h4>sort by rank</h4>
            <a href="#!poi" class="button">sort</a>
            <button ng-click="sortByFunc()">sort by rank</button>
        </div> -->
        <!-- <div id="entryRegister">
            <h4>favorites poi page</h4>
            <a href="#!favoritesPOI" class="button">favorites</a>
        </div> -->
        <!-- <input ng-model="usernameTextBox" type="text">
        <a href="#!restPass" class="button">restore password</a>
        
        <button ng-click="getUserName(usernameTextBox)" class="button">restore password</button> -->
        <!-- <a href="#!/poi" class="tablePOI" ng-click="orderByField='image'; reverseSort = !reverseSort">sort</a> -->
        <br>
        <br>
        <div ng-controller="poiController" ng-init="error=''">
            <div id="down0" ng-init="sortBy='CategoryName'">
                <p>Search point of interest's name:</p>
                <input type="text" ng-model="searchPOI" ng-change="updatePoi()">
                <!-- <button ng-click="searchPoi(searchPOI)">Search</button> -->
                <br>
                <br>
                <p>Select Category:</p>
                <select ng-init="selectCategory = 'Show All'"  ng-model="selectCategory" ng-change="updatePoi()">
                    <option>Show All</option>
                    <option ng-repeat="cat in categories">{{cat.CategoryName}}</option>
                </select>
                <p>{{error}}</p>
                <a href="#!/poi" class="button" ng-click="orderByField='rank'; reverseSort = !reverseSort">sort by rank</a>
                <a href="#!/poi" class="button" ng-click="orderByField='CategoryName'; reverseSort = !reverseSort">sort by category</a>
                <br><br>
                <br><br>
                <table>
                        <tr>
                            <th >
                                <!-- <a href="#!/poi" class="tablePOI" ng-click="orderByField='name'; reverseSort = !reverseSort"> -->
                                name
                                <!-- </a> -->
                            </th>
                            <th >
                                <!-- <a href="#!/poi" class="tablePOI" ng-click="orderByField='CategoryName'; reverseSort = !reverseSort"> -->
                                category
                                <!-- </a> -->
                            </th>
                            <th >
                                <!-- <a href="#!/poi" class="tablePOI" ng-click="orderByField='image'; reverseSort = !reverseSort"> -->
                                image
                                <!-- </a> -->
                            </th>
                            <th  >
                                    <!-- <a href="#!/poi" class="tablePOI" ng-click="orderByField='image'; reverseSort = !reverseSort"> -->
                                    add to favorites
                                    <!-- </a> -->
                            </th>
                            <th >
                                    <!-- <a href="#!/poi" class="tablePOI" ng-click="orderByField='image'; reverseSort = !reverseSort"> -->
                                    delete from favorites
                                    <!-- </a> -->
                            </th>
                        </tr>
                        <tr ng-repeat="poi in updates | orderBy:orderByField:reverseSort">
                            <!-- | orderBy:'+rank' -->
                            <td><button ng-click="showSingle(poi)"> {{poi.name}}</button></td>
                            <td>{{poi.CategoryName}}</td>
                            <td><img ng-src="{{poi.poiImage}}" style="width: 160px; height: 120px;"></td>
                            <td><a href="#!/poi" class="fa fa-star" ng-click="addPOI(poi)">add to favorites</a></td>
                            <td><a href="#!/poi" class="fa fa-star" ng-click="deletePOI(poi)">delete from favorites</a></td>
                            <!-- <td><input class="star" type="checkbox" title="bookmark page" id={{$index}} checked></td> -->
                        </tr>
                    <!-- <button ng-click="showSingle(poi)">
                        {{poi.name}}
                        <img ng-src="{{poi.poiImage}}" style="width: 160px; height: 160px;">
                    </button> -->
                </table>
            </div>
        </div>    
        <div id="saveChanges" *ngIf="isLoggedIn()">
            <h4>save changes</h4>
            <a href="#!/favoritesPOI" class="button">apply</a>
        </div>
    </div>