<!-- css -->
<!-- <style>
    img {
        height: 100px;
    }
</style>

<h2>POI</h2>

display all cities
<p ng-repeat="(id, city) in poiCtrl.cities">
    City Name: <span ng-bind="city.name"></span><br>
    City State: <span ng-bind="city.state"></span><br>
    <img ng-src="{{ city.image }}">
</p> -->
<head>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<div>
    <!-- <div id="entryLogin">
        <h4>sort by rank</h4>
        <a href="#!poi" class="button">sort</a>
        <button ng-click="sortByFunc()">sort by rank</button>
    </div> -->
    <!-- <div id="entryRegister">
        <h4>favorites poi page</h4>
        <a href="#!favoritesPOI" class="button">favorites</a>
    </div> -->
    <!-- <input ng-model="usernameTextBox" type="text">
    <a href="#!restPass" class="button">restore password</a>
    <button ng-click="getUserName(usernameTextBox)" class="button">restore password</button> -->
    <div ng-controller="poiController">
        <div id="down0" ng-init="sortBy='name'">
            <p>Search point of interest's name:</p>
            <input type="text" ng-model="searchPOI">
            <button ng-click="searchPoi(searchPOI)">Search</button>
            <br>
            <br>
            <table id={{$index}}>
                    <tr>
                        <th>
                            <a href="#!/poi" class="button" ng-click="orderByField='name'; reverseSort = !reverseSort">
                            name
                            </a>
                        </th>
                        <th>
                            <a href="#!/poi" class="button" ng-click="orderByField='CategoryName'; reverseSort = !reverseSort">
                            category
                            </a>
                        </th>
                        <th>
                            <a href="#!/poi" class="button" ng-click="orderByField='image'; reverseSort = !reverseSort">
                            image
                            </a>
                        </th>
                    </tr>
                    <tr ng-repeat="poi in allPOIs | orderBy:orderByField:reverseSort">
                        <!-- | orderBy:'+rank' -->
                        <td><button ng-click="showSingle(poi)"> {{poi.name}}</button></td>
                        <td>{{poi.CategoryName}}</td>
                        <td><img ng-src="{{poi.poiImage}}" style="width: 160px; height: 160px;"></td>
                    </tr>
                <!-- <button ng-click="showSingle(poi)">
                    {{poi.name}}
                    <img ng-src="{{poi.poiImage}}" style="width: 160px; height: 160px;">
                </button> -->
            </table>
        </div>
    </div>

    <div id="saveChanges">
        <h4>save changes</h4>
        <a href="#!favoritesPOI" class="button">save</a>
    </div>
</div>

